/* Fuentes */
@font-face {
    font-family: Especial;
    src: url(../Fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: Titulo;
    src: url(../Fonts/HoneyMints.ttf);
}

@font-face {
    font-family: Subtitulo;
    src: url(../Fonts/CaviarDreams_Italic.ttf);
}

@font-face {
    font-family: textoPredeterminado;
    src: url(../Fonts/CaviarDreams_Bold.ttf);
}


/* -----------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
}

/* TITULO PRINCIPAL */

.titulo {
    margin: 1px 5px;
    text-align: center;
    display: inline-block;
    transition: .5s;
    padding: 20px 0;
    margin: 1px 0;
    overflow: hidden;


}

.titulo span {
    background-color: aliceblue;
    width: 100px;
    height: 100px;
    display: block;
    line-height: 100px;
    font-family: Titulo;
    font-weight: bolder;
    color: rgb(49, 180, 180);
    font-size: 50px;
    float: left;
    transition: .5s;

}

.titulo span:nth-child(1) {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.titulo span:nth-child(1) {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.titulo:hover span:nth-child(odd) {
    transform: skewY(-15deg);
    color: #c72261;
    box-shadow: 0 60px 20px rgba(0, 0, 0, .1);
}

.titulo:hover span:nth-child(even) {
    transform: skewY(-15deg);
    color: #c72261;
    box-shadow: 0 60px 20px rgba(0, 0, 0, .1), inset 0px 0 30px rgba(0, 0, 0, .2);
}

.titulo:hover {
    transform: rotateX('350')
}


/* Fin Titulo */


body {
    font-family: tituloPrincipal;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

header {
    height: 100vh;
    background-image: linear-gradient(to right, rgba(255, 128, 119, 0.664) 0%, rgba(255, 133, 122, 0.603) 0%, rgba(255, 140, 127, 0.671) 21%, rgba(249, 144, 133, 0.671) 52%, rgba(207, 85, 107, 0.671) 78%, rgba(177, 42, 91, 0.658) 100%), url(../Images/fondoPrincipal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;

}

.head {
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu {
    position: fixed;
    top: 30px;
    right: 30px;
    background-color: aliceblue;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(10, 60, 66, 0.678);
}

.menuNavegacion {
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* transition: transform .3s ease-in-out;*/
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.spread {
    transform: translate(0);
}

.menuNavegacionA {
    color: aliceblue;
    text-decoration: none;
}


.copy {
    color: azure;
    font-weight: 300;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*Nuestras Heramientas */

.subtitulo {
    text-align: center;
    font-weight: 300;
    color: rgb(76, 158, 179);
    margin-bottom: 40px;
    font-size: 40px;
    font-family: Subtitulo;
    margin: 50px;
    padding: 20px;
}

.contenedorHerramienta {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedorHerramienta img {
    width: 15%;
    padding-bottom: 1%;
    margin-bottom: 5%;
}

.checklistHerramienta {
    width: 45%;
}

.herramienta {
    margin-bottom: 20px;
    font-family: textoPredeterminado;
}

.nherramienta {
    margin-bottom: 7px;
    color: rgb(230, 76, 127);
}

.number {
    display: inline-block;
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    width: 30px;
    height: 30px;
    color: aliceblue;
    text-align: center;
    border-radius: 50%;
    font-weight: normal;
    line-height: 30px;
    margin-right: 5px;
}



/* ---------------------------------------------- */

/* Galeria */

.gallery {
    background-image: linear-gradient(to top, rgba(244, 59, 71, 0.596) 0%, rgba(68, 58, 148, 0.075) 100%);
}

.contenedorGaleria {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 5%;
    margin-top: 2%;

}

.imgGaleria {
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.imagenLight {
    position: fixed;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;

}

.agregarImagen {
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: .3s .2s;
}

.showImage {
    transform: scale(1);
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;

}

/* ---------------------------------------------- */
/* Cosas */

.cosas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contCosas {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.contCosas img {
    width: 100%;
    display: block;
}

.nCosas {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ---------------------------------------------- */
/* Footer */

footer {
    background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
    padding-bottom: 0.1px;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contactUS {
    width: 40%;
    color: azure;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.socialMedia{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.socialMediaIcon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.SocialMediaIcon:hover{
    background: #fff;
    color: #b490ca;
}

.socialMediaIcon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}
