/*Comportamiento General*/

:root {
	scroll-behavior: smooth;
	background-image: linear-gradient(60deg, #64b3f491 0%, #eca66494 100%);
	--colorTextosF: rgba(7, 112, 116, 0.459);
}

/* Fuentes */

@font-face {
	font-family: TituloPrincipal;
	src: url(../Fuentes/HoneyMints.ttf);
}

@font-face {
	font-family: TituloFormulario;
	src: url(../Fuentes/CaviarDreams_Italic.ttf);
}

@font-face {
	font-family: TextoPrincipal;
	src: url(../Fuentes/CaviarDreams_Bold.ttf);
}

/*header*/


*,
::before,
::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 900px;
}

header {
	background: url('../Imagenes/salud.jpg');
	text-align: center;
	width: 100%;
	height: 40%;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}

.overlay {
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	background-image: linear-gradient(to right, #2439498e 0%, #517fa49d 100%);
}

.tituloP {
	font-family: 'TituloPrincipal';
	font-size: 80px;
	margin-bottom: 30px;
}

h3,
p {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-bottom: 30px;
	font-size: 20px;
}

button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
	font-family: TituloFormulario;
}

button:hover {
	cursor: pointer;
}

/* Formulario */

.formularioIMC {
	display: flex;
	align-items: center;
	width: 33%;
	justify-content: center;
	margin: 40px auto;
}

.regLetra {
	text-align: center;
	font-family: TextoPrincipal;
	font-weight: 700;
	color: rgba(13, 79, 83, 0.801);
}

form {
	background: #FFF;
	padding: 40px auto;
	box-shadow: 0 0 6px 0 rgba(255, 255, 255, .8);
	border-radius: 15px;
	margin-bottom: 50px;
}

.form {
	width: 100%;
	margin: 40px auto;
}

form .grupo {
	position: relative;
	margin: 45px;


}

input {
	background: none;
	color: #c6c6c6;
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid rgba(70, 199, 171, 0.884);
	font-family: TextoPrincipal;
}

input:focus {
	outline: none;
	color: rgb(33, 136, 114);
}

label {
	color: var(--colorTextosF);
	font-size: 16px;
	position: absolute;
	left: 5px;
	top: 10px;
	transition: 0.5s ease-in-out all;
	pointer-events: none;
	font-family: TituloFormulario;
}

input:focus~label,
input:valid~label {
	top: -14px;
	font-size: 12px;
	color: #2196f3;
}

.barra {
	position: relative;
	display: block;
	width: 100%;
}

.barra::before {
	content: "";
	height: 2px;
	width: 0%;
	bottom: 0;
	position: absolute;
	background: linear-gradient(to right, #B06AB3, #4568DC);
	transition: 0.3s ease width;
	left: 0;
}

input:focus~.barra::before {
	width: 100%;
}

.calcular {
	font-family: TituloFormulario;
	background-color: #ca994fdc;
	background-image: linear-gradient(60deg, #64b3f491 0%, #eca66494 100%);
	border: none;
	display: block;
	width: 80%;
	margin: 10px auto;
	color: #FFF;
	height: 40px;
	font-size: 16px;
}

.modalCont {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 100vh;
	opacity: 0;
	visibility: hidden;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	width: 40%;
	height: 50%;
	background: #FFF;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	position: relative;
	transition: transform 1s;
	transform: translateY(0%);
	border-radius: 10px;
	
}

.close {
	position: absolute;
	top: 5px;
	right: 5px;
	display: inline-block;
	width: 25px;
	height: 25px;
	background: #B06AB3;
	color: white;
	line-height: 25px;
	cursor: pointer;
	border-radius: 50%;
}

.modalClose {
	transform: translateY(-200%);
}

.modal>img {
	height: 50%;
}

.modalTextos{
	font-family: TextoPrincipal;
	font-size: 20px;
	color: #333;
	width: 70%;
	margin: 40px auto;
	text-align: center;
}

@media screen and (max-width: 768px) {

	header {
		width: 80% auto;
		height: 35%;

	}

	.overlay {
		width: 100%;
		height: 100%;s
		padding: 25px;

	}

	.tituloP {
		font-size: 60px;
		margin-top: 2px;
		margin-bottom: 15px;
	}

	h3 {
		margin-bottom: 30px;
		font-size: 15px;
	}

	p {
		padding-bottom: 0%;
		margin-bottom: 0%;
		font-size: 15px;
	}

	form {
		padding: 30px auto;
		margin-bottom: 50px;
	}

	.formularioIMC {
		width: 73%;
		margin: 60px auto;
	}

	.regLetra {
		font-size: 25px;
	}

}